<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467120203947-eu8psjlc6d16ri7j2h3hc6gpfa5odg7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467120203947-eu8psjlc6d16ri7j2h3hc6gpfa5odg7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAMl5fczUHbNOAi-ACtkZLdXD4eXk8Ucxo</string>
	<key>GCM_SENDER_ID</key>
	<string>467120203947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamsuccess.tidtor</string>
	<key>PROJECT_ID</key>
	<string>tidtor-dating-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tidtor-dating-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467120203947:ios:b080f9bb8b03f08a08afee</string>
</dict>
</plist>